* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  /* background-image: url("../assets/neo-tokyo.jpg"); */
  background-size:  auto;
  background-color: #1A1a1a;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-size: 12pt;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  background: #1A1a1a;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
/* body shadows */
  box-shadow: -10px 0 30px  #1A1a1a, 10px 0 30px  #1A1a1a;
  -moz-box-shadow: -10px 0 30px  #1A1a1a, 10px 0 30px  #1A1a1a;
  -webkit-box-shadow: -10px 0 30px  #1A1a1a, 10px 0 30px  #1A1a1a;
/* #1A1a1a */
}

h2 {
  font-size: 1rem;
}

.fullName {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: rgba(221, 224, 222, 0.7);
  width: 100%;
  /* height: 25px; */
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
  grid-column-gap: 10px;
  z-index: 2;
}

.fullName p {
  text-align: right;
  grid-column: 1/2;
  grid-row: 1/2;
}

.colorBoxContainer {
  display: grid;
  padding-top: 10px;
  padding-bottom: 10px;
  grid-column-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  width:100%;
  height: 400px;
}

.blueBox .greenBox .redBox .yellowBox {
  height: 400px;
  grid-row: 1/2;
}

.blueBox {
  background: #0000FE;
  background-image: url("../assets/splatter1.png");
}

.greenBox {
  background: #00FF7F;
}

.redBox {
  background: #FE0000;
}

.yellowBox {
  background: #FFFF01;
}

.belowColoredBoxes {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  padding-top: 5px;
  padding-bottom: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #1A1a1a;
  z-index: 1;
  box-shadow: 0 20px 30px -10px #1A1a1a;
  -moz-box-shadow: 0 20px 30px -10px #1A1a1a;
  -webkit-box-shadow: 0 20px 30px -10px #1A1a1a;
}
.socialLinks {
  grid-column: 4/5;
  display: grid;
  /* border: 1px solid red; */
  text-align: right;
  grid-template-rows: 1fr;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(33px, 1fr));
  grid-column-gap: 5px;
}

.socialLinks a {
  -o-transition:.5s;
 -ms-transition:.5s;
 -moz-transition:.5s;
 -webkit-transition:.5s;
 transition:.5s;
  line-height: 1;
  font-size: 40px;
  color: rgba(221, 224, 222, 0.7);
}

a.email:hover {
  color:  #0000FE;
}

a.medium:hover {
  color:  #00FF7F;
}

a.git:hover {
  color:  #FE0000;
}

a.linkedin:hover {
  color:  #FFFF01;
}

.tagline {
  grid-column: 2/3;
  grid-row: 1/2;
  /* border: 1px solid green; */
  color: rgba(221, 224, 222, 0.7);
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

.downArrow {
  text-align: center;
  padding-top: 100px;
  color: rgba(221, 224, 222, 0.7);
  margin-left: auto;
  margin-right: auto;
  font-size: 60px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 5px;
  line-height: .5;
}

.stripeBox {
  background: repeating-linear-gradient(-45deg, transparent, transparent 8px, #314053 8px, #314053 16px);
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.filler {
  width: 50px;
  height: 200px;
  background: transparent;
}

.filler2 {
  width: 50px;
  height: 500px;
  background: transparent;
}

.blinkText {
  color: #FE0000;
  font-family: arial;
  font-weight: bold;
  animation: blinkText 1s linear infinite;
}

@keyframes blinkText {
  50% {
    opacity: 0;
  }
}

.infoBox {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* grid-column-gap: 10px; */
  position: relative;
  border-style: solid;
  border-width: 0 2px 0 2px;
  border-color: rgba(221, 224, 222, 0.7);
  box-shadow: -1px 0 cyan, 1px 0 red;
  margin-left: 2px;
  margin-right: 2px;

}

.sectionSmall {
  display: flex;
  text-align: center;
  grid-column: span 1;
  grid-row: span 3;
  position: relative;
  align-items: center;
}

.sectionLeft {
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: rgba(221, 224, 222, 0.7);
}

.sectionRight {
  border-style: solid;
  border-width: 0px 0 0px 1px;
  border-color: rgba(221, 224, 222, 0.7);
}

.sectionChevronRight {
  border-style: solid;
  border-color: rgba(221, 224, 222, 0.7);
	border-width: 1px 1px 0 0;
	content: '';
	display: inline-block;
	height: 30px;
  width: 30px;
	right: -15px;
  position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
  background: #1A1a1a;
}

.sectionChevronLeft {
  border-style: solid;
  border-color: rgba(221, 224, 222, 0.7);
	border-width: 1px 1px 0 0;
	content: '';
	display: inline-block;
	height: 30px;
  width: 30px;
	left: -15px;
  position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-135deg);
  background: #1A1a1a;
}

section p {
  /* background-color: #1A1a1a; */
  font-weight: bolder;
  font-size: 20pt;
  transform: rotate(-90deg);
  color: white;
  text-shadow: 0px 1px 0 red, 0px -1px 0 cyan;

}

article {
  font-size: .8rem;
  grid-column: span 7;
  color: white;
  padding: 20px;
  padding-left: 30px;
}

.articleLeft {
  padding-right: 30px;
  text-align: right;
}

.chevron {
	border-style: solid;
	border-width: 1px 1px 0 0;
	content: '';
	display: inline-block;
	height: 30px;
	left: 30px;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

span.blue {
  color: #0000FE;
}

span.green {
  color: #00FF7F;
}

span.red {
  color: #FE0000;
}

span.yellow {
  color: #FFFF01;
}

footer {
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}

footer a {
  text-decoration: none;
  color: rgba(221, 224, 222, 0.7);
}

figure {
  grid-column: span 7;
  grid-row: span 1;
  padding-right: 10px;
  max-height: 100px;
  overflow: hidden;
  display: flex;
}

figure img {
  width: 100%;
  object-fit: cover;
}

/* background: repeating-linear-gradient(-45deg, transparent, transparent 6px, #0000FE 6px, #0000FE 12px);} */
