* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  background: #1A1a1a;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

body {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background: #1A1a1a;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.fullName {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: white;
  width: 100%;
  /* height: 25px; */
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  grid-column-gap: 10px;

}

.fullName p {
  text-align: right;
  grid-column: 1/2;
  grid-row: 1/2;
}

.colorBoxContainer {
  display: grid;
  padding-top: 10px;
  padding-bottom: 10px;
  grid-column-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  width:100%;
  height: 400px;
}

.blueBox .greenBox .redBox .yellowBox {
  height: 400px;
  grid-row: 1/2;
}

.blueBox {
  background: #0000FE;
}

.greenBox {
  background: #00FF7F;

}

.redBox {
  background: #FE0000;
}

.yellowBox {
  background: #FFFF01;
}

.belowColoredBoxes {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  /* border: 1px solid blue; */
  position: -webkit-sticky;
  position: sticky;
  top: 10px;

}
.socialLinks {
  grid-column: 4/5;
  display: grid;
  /* border: 1px solid red; */
  text-align: right;
  grid-template-rows: 1fr;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(33px, 1fr));
  grid-column-gap: 5px;
}

.socialLinks a {
  -o-transition:.5s;
 -ms-transition:.5s;
 -moz-transition:.5s;
 -webkit-transition:.5s;
 transition:.5s;
  line-height: 1;
  font-size: 40px;
  color: rgba(221, 224, 222, 0.7);
}

.socialLinks a.email:hover {
  color:  #0000FE;
}

.socialLinks a.medium:hover {
  color:  #00FF7F;
}

.socialLinks a.git:hover {
  color:  #FE0000;
}

.socialLinks a.linkedin:hover {
  color:  #FFFF01;
}

.tagline {
  grid-column: 2/3;
  grid-row: 1/2;
  /* border: 1px solid green; */
  color: white;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

.downArrow {
  width: 100px;
  height: 100px;
  background: gray;
  align-self: center;
}

.infoBox {
  background: repeating-linear-gradient(-45deg, transparent, transparent 8px, #314053 8px, #314053 16px);
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.filler {
  width: 50px;
  height: 1000px;
  background: transparent;
}

.blinkText {
  animation: blinkText 1s linear infinite;
}

@keyframes blinkText {
  50% {
    opacity: 0;
  }
}
